body{
	background: #EEE;
	font-family: "Arial";
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

/*  HEADER */
.header{
	background-color: #000;
	position: static;

}
.logo{
	margin-right: 0;
}

.hamburger{
	width: 54px;
	height: 32px;
	float: right;
	margin-top: 0.3rem;
}

.hamburger:hover{
	background-color: #444;
}


/* Header Navbar */
.inactive{
	display: none;
}
.nav{
	display: block;
	background-color: #444;
	position: static;
}
.nav ul{
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav li{
	padding: 0.7rem 0.5rem 0.7rem 0.5rem;
	border-bottom: 1px solid #eee;
}

.nav li a{
	display: block;
	width: 100%;
	color: #fff;
}
.nav li:hover{
	background-color: #333;
}

.nav li p{
	display: inline;
	margin: 0;
	padding: 0;
}
.nav .active p{
	border-bottom: 3px solid #fff;

}

@media(min-width: 1000px){
	.hamburger{
		display: none;
	}
}

@media(min-width: 658px){
	.nav ul{
		display:table;
		table-layout: fixed;
	}
	.nav li{
		display: table-cell;
		float: left;
		width: auto;
		border-bottom: none;
		margin-right: auto;
		padding-right: 5%;
	}
	.nav li:first-child{
		padding-left: 1rem;
	}
}



/*  FOOTER  */

.footer{
	width: 100%;
	background-color: #FFAA00;
	padding-bottom: 2rem;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
}
.footer_row{

}
.footer_row li{
	display: block;
	padding: 0.5rem 0;
}
.footer_row a{
	text-decoration: none;
	color: #000;
}

.footer_row p{
	display: inline;
	padding-left: 1rem;
}

.sitemap li{
	display: block;
	padding: 0.5rem 0;
}
.sitemap a{
	text-decoration: none;
	color: #000;
}
.sitemap p{
	display: inline;
	padding-left: 1rem;
}

@media(min-width: 500px){
	.container{
		display:table;
		table-layout: fixed;
	}
	.footer_row{
		display: table-cell;
		float: left;
	}
	.sitemap{
		display: table-cell;
		float: right;
	}

}





/* -------------------LOOTCOUNTER------------------ */
.input_field{
	display: block;
	width: 100%;
	padding-bottom: 5rem;
}

.loot_information_container{
	border: 1px solid black;
	border-radius: 10px;
	margin: 1rem 0;
}

.player{
	width: 80px;
	height: 100px;
}

.display_value ul li{
	display: inline-block;
}