body{
	background: #EEE;
	font-family: "Arial";
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

/*  HEADER */
.header{
	background-color: #000;
	position: static;

}
.logo{
	margin-right: 0;
}

.hamburger{
	width: 54px;
	height: 32px;
	float: right;
	margin-top: 0.3rem;
}

.hamburger:hover{
	background-color: #444;
}


/* Header Navbar */
.inactive{
	display: none;
}
.nav{
	display: block;
	background-color: #444;
	position: static;
}
.nav ul{
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav li{
	padding: 0.7rem 0.5rem 0.7rem 0.5rem;
	border-bottom: 1px solid #eee;
}

.nav li a{
	display: block;
	width: 100%;
	color: #fff;
}
.nav li:hover{
	background-color: #333;
}

.nav li p{
	display: inline;
	margin: 0;
	padding: 0;
}
.nav .active p{
	border-bottom: 3px solid #fff;

}

@media(min-width: 1000px){
	.hamburger{
		display: none;
	}
}

@media(min-width: 658px){
	.nav ul{
		display:table;
		table-layout: fixed;
	}
	.nav li{
		display: table-cell;
		float: left;
		width: auto;
		border-bottom: none;
		margin-right: auto;
		padding-right: 5%;
	}
	.nav li:first-child{
		padding-left: 1rem;
	}
}



/*  FOOTER  */

.footer{
	width: 100%;
	background-color: #FFAA00;
	padding-bottom: 2rem;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	clear: both;
}
.footer_row{

}
.footer_row li{
	display: block;
	padding: 0.5rem 0;
}
.footer_row a{
	text-decoration: none;
	color: #000;
}

.footer_row p{
	display: inline;
	padding-left: 1rem;
}

.sitemap li{
	display: block;
	padding: 0.5rem 0;
}
.sitemap a{
	text-decoration: none;
	color: #000;
}
.sitemap p{
	display: inline;
	padding-left: 1rem;
}

@media(min-width: 500px){
	.container{
		display:table;
		table-layout: fixed;
	}
	.footer_row{
		display: table-cell;
		float: left;
	}
	.sitemap{
		display: table-cell;
		float: right;
	}

}





/* -------------------LOOTCOUNTER------------------ */
.input_field{
	display: block;
	border-radius: 10px;
	max-width: 97%;
	width: 97%;
	padding-bottom: 5rem;
	padding-left: 4px;
}

.serverlog_submit_container{
	width: 40%;
	display: inline-block;
	margin-left: 0.8rem;
	margin-top: 1rem;
}
.hunt_name{
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 0.3rem;
	padding-left: 4px;
}

button{
	background-color: #ffc260;
	border-radius: 10px;
	border: 1px solid black;
	cursor: pointer;
}
.submit{
	float: right;
	margin-top: 0.3rem;
	margin-right: 0.3rem;
	margin-bottom: 0.3rem;
	margin-left: 0.5rem;
}


.loot_information_container{
	margin: 1rem 0;
	display: inline-block;
	margin-left: 0.2rem;
	float: left;
	min-width: 40%;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;	

}
.loot_information_container h4{
	margin: 0.3rem 1rem;
}
.npc_image{
	max-width: 70px;
}

.display_value{
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

.toggle_button{
	float: right;
	text-decoration: none;
	color: black;
	background-color: #ffc260;
	border-radius: 10px;
	border: 1px solid black;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	cursor: pointer;
}
.toggle_button a{
	color: black;
	padding: 2px 6px 3px;
	font: 11px Arial;
}
.toggle_button a.pressed {
	color:white;
}

.custom_items {
	clear: both;
	background-color:#FFFFFF;
	border:1px solid black;
	border-radius: 10px;
	cursor:default;
	display:none;
	margin-top: 1rem;
	text-align:left;
	width: 97%;
	padding-left: 4px;
	z-index:50;
	margin-bottom: 1rem;
}
.custom_items .button_list{
	display: block;
}

.custom_items ul{
	padding: 0;
	margin: 0;
}

.button_list:first-child{
	margin-top: 0.3rem;
}

.npc_button{
	display: inline-block;
	background-color: #ffc260;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 0.3rem;
	cursor: pointer;
}
.npc_button a{
	text-decoration: none;
	color: black;
	padding: 2px 6px 3px;
	font: 11px Arial;
}
.npc_button a.pressed{
	color: #FFF;
}

.show{
	display: block;
}