<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}My webapp{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<noscript>
		<h1>Ooops! It looks like you've turned off JavaScript. Please turn on JavaScript in order to use this site properly</h1>
	</noscript>
	<!--[if IE]><h1>Dear Internet Explorer user. This website will not work as intended using IE. Please consider upgrading your web-browser to something better. </h1><![endif]-->
	<header class="header">
		<img class="logo" alt="logo" src="{{ url_for('static', filename='images/logo.png') }}">
		<img id="hamburger" alt="menu button" src="{{ url_for('static', filename='images/hamburger.png')}}" class="hamburger">
		<nav id="navbar" class="inactive">
			<ul>
				<li><a {% if request.path == '/' %} class="active" {% endif %} href="/"><p>Home</p></a></li>
				<li><a {% if request.path == '/loot_statistics/' %} class="active" {% endif %} href="/loot_statistics/"><p>Loot Statistics</p></a></li>
				<li><a {% if request.path == '/boss_statistics/' %} class="active" {% endif %} href="/boss_statistics/"><p>Boss Statistics</p></a></li>
				<li><a {% if request.path == '/online_check/' %} class="active" {% endif %} href="/online_check/"><p>Online Check</p></a></li>
				<li><a {% if request.path == '/about/' %} class="active" {% endif %} href="/about/"><p>About</p></a></li>
			</ul>
		</nav>
	</header>
	<main>{% block content %}{% endblock %}</main>
	<footer></footer>
	<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>
</html>