{% extends "base.html" %}

{% block title %} Lootcounter {% endblock %}

{% block content %}
	<div class="serverlog_submit_container">
		<form action="{{ url_for('lootcounter') }}" method="post">
		<div>
			<input class="hunt_name" type="text" name="huntinglocation" placeholder="Where did you hunt?" maxlength="16">
		</div>
		<div>
	    	<textarea class="input_field" name="loot" placeholder="Paste you serverlog here.."></textarea>
	  	</div>
	  	<div class="submit">
	    	<button type="submit">Submit</button>
	 	</div>
		</form>
		<div class="toggle_button">
			<a id="custom_prices">Price Settings</a>
		</div>
		<div class="custom_items pop">
		<ul>
			{% for npc in npc_list %}
				<li class="button_list">
				<div class="npc_button">
					<a id="{{npc.__name__}}">{{npc.__name__.replace('_', ' ')}}</a>
				</div>
				</li>
				<li id="{{npc.__name__ + 'list'}}" class="inactive">
				<div class="npc_items">
				<h4>{{npc.__name__.title().replace('_', ' ')}}</h4>
				<table>
				{% for item in npc %}
					<tr>
					<td>
						<img alt="{{item.item_name}}" src="{{ url_for('static', filename='images/items/' + item.item_name.title().replace(' ', '_') + '.gif') }}">
					</td>
					<td>
						<p>{{item.price}}</p>
					</td>
					</tr>
				{% endfor %}
				</table>
				</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="loot_information_container">
		{% if huntname %}
		<h4>{{ huntname.title() }}</h4>
		{% endif %}
		<table class="display_value">
		{% for npc_value in range(information|length) %}
		{% if information[npc_value][1] > 0 %}
			<tr>
				<td>
					<img alt="{{ information[npc_value][0] }}" src="{{ url_for('static', filename='images/NPCs/' + information[npc_value][0] + '.gif') }}" class="npc_image">
				</td>
				<td>
					<p>{{ information[npc_value][1]}}</p>
				</td>
			</tr>
		{% endif %}
		{% endfor %}
			<tr>
				<td>
					<img alt="Total Loot" src="{{ url_for('static', filename='images/NPCs/Crystal_Coin.gif') }}">
				</td>
				<td><p>{{ total }}</p></td>
			</tr>
		</table>
	</div>
{% endblock %}