{% extends "base.html" %}

{% block title %} Lootcounter {% endblock %}

{% block content %}
	<form action="{{ url_for('lootcounter') }}" method="post">
	<div>
    	<textarea class="input_field" type="text" name="loot"></textarea>
  	</div>
  	<div>
    	<button type="submit">Submit</button>
 	</div>
	</form>
	<div class="loot_information_container">
		<img class="active_button" alt="active button" src="{{ url_for('static', filename='images/button_active.png') }}">
		<div class="display_value">
		<table>
			<tr>
				<th>NPC</th>
				<th>VALUE</th>
			</tr>
		{% for npc_value in range(information|length) %}
		{% if information[npc_value][1] > 0 %}
			<tr>
				<td>
					<img alt="{{ information[npc_value][0] }}" src="{{ url_for('static', filename='images/NPCs/' + information[npc_value][0] + '.gif') }}">
				</td>
				<td>
					<p>{{ information[npc_value][1] }}</p>
				</td>
			</tr>
		{% endif %}
		{% endfor %}
			<tr>
				<td>
					<img alt="Total Loot" src="{{ url_for('static', filename='images/NPCs/Crystal_Coin.gif') }}">
				</td>
				<td><p>{{ total }}</p></td>
			</tr>
		</table>
		</div>
	<div class="display_loot">
		
	</div>
	</div>
{% endblock %}